<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirecione todas as requisições para a pasta public
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ /public/$1 [L]

    # Se o arquivo ou diretório não existir, redirecione para index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ /public/index.php [L]
</IfModule>